
 /* --------------------------------------------------------------------- */
 /* --------------------------------------------------------------------- */
 /* --------------------------------------------------------------------- */

*{
    margin: 0;
    padding: 0;
}
body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:40% auto;
    padding: 0%;
}

/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */

body {
    background-color: #3f3f3f;
    color: #000;
}

/* أسلوب وضع الليل */
body.dark-mode {
    background-color: #f4ea74;
    color: #fff;
}
.img11 {
     cursor:pointer;
     color: #333;
    background:none ;
    border: none;
    transform: translate(-5px,0px);
    width: 35px;
    height: 35px; 
     background-image: none;
 }



/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* <!-- -------------------------------------------------- --> */

/* start nav bar  */

.imgnav{
    width: 60px;
    height: auto;
}
/* --------------------------------------------------------------------- */
#navp{
    background-color: rgb(255, 230, 6);
    color: black;
    border-bottom: 2px dotted black;
}
/* --------------------------------------------------------------------- */
#links{
    color: rgb(0, 0, 0);
    padding: 0.1vw;
    font-size: 20px;
    font-family: serif;
    margin: 0.1vw;
    /* left: 100px; */
    width: 5vw;

}#links:hover,#links:focus{
    /* color: aliceblue; */
    border-bottom: 2px solid white;
}

/* --------------------------------------------------------------------- */

#iconnav {
    color:rgb(4, 4, 5);
    /* border: px white solid; */
    transition: .5s;
}#iconnav:hover{
    color: rgb(255, 255, 255);
    letter-spacing: 2px;

}
/* --------------------------------------------------------------------- */

/* --------------------------------------------------------------------- */
#login{
    border-radius: 5px;
    border: none;
    color: rgb(0, 0, 0);
    margin: 10px;
    width: 60px;
    background-color: rgb(0, 238, 255);
    background: none;
    transition: 2s;
}#login:hover{
    background-color: #fff;
    color: rgb(3, 2, 2);
    border-bottom: 2px solid rgb(0, 0, 0);
    letter-spacing: 3px;

}
/* end nav bar  */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */

.bghead img{
    background: none;
    background-color: #fff;
    width: 100%;
    height:auto;
    opacity: 0.5;
}
.bghead h1{
    /* background-image: url("../img/photo_2023-10-01_19-35-07.jpg"); */
    z-index: -1;
    border-bottom: #fbf182 dotted 10px;
    color: rgb(0, 0, 0);
    margin: auto;
    width: 75%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 10vw;
    transition: 2.5s;
    font-weight: bolder;
    text-shadow: 10px 30px 20px  rgb(0, 0, 0);
    font-family:Georgia, 'Times New Roman', Times, serif;
/* transform: translate(0%,-40vw); */
}.bghead h1:hover{
    letter-spacing: 10px;
}

/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* <!-- start sticky nav --> */

.nav2p{
    color: #000;
    height: 50px;
    width: 100vw;
    text-align: center;
    justify-content: space-around;
    padding:  5px ;
    background-color: rgb(255, 230, 6);
}
.nav2p button{
    height: 40px;
    width: 100px;
    border: none;
    outline: none;
background: none;
justify-content: space-between;
}

.nav2p button:hover{
    border-bottom: 5px solid white;
}
/* <!-- end sticky nav --> */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */

.moveimg{
    transform: translate(32%,0%);
    justify-content: center;
    width: 60vw;
    height: auto;
}

/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
