/* *{
   margin: 0px;
   padding: 0px;
   
} */
/* body{

    font-family:Arial, Helvetica, sans-serif; 
}  */
/* ====================================================================================================== */
/* ====================================================================================================== */
/* ====================================================================================================== */
/* ====================================================================================================== */

 .container-fluid{
    background-color: black;
    margin-top: -8px;

}


 .nav-item{
    background-color: black;
 }
 .dropdown-menu{
    background-color: black;

 }
#vvv{
   background-color: black;

}
/* ====================================================================================================== */
/* ====================================================================================================== */
/* ====================================================================================================== */
/* ====================================================================================================== */
.headc{
   width: 100VW;
   height:50VH ;
   background-color: black;
   /* transform: translate(0vw,1vh); */
}

