*{
   margin: 0px;
   padding: 0px;
   
}
.body{

background-color: rgb(32, 32, 32);
height: 42vh;
} 
/* ====================================================================================================== */
/* ====================================================================================================== */
/* ====================================================================================================== */
/* ====================================================================================================== */

 .container-fluid{
    background-color: rgb(14, 9, 9);
    margin-top: -8px;

}


 .nav-item{
    background-color: black;
 }
 .dropdown-menu{
    background-color: black;

 }
#vvv{
   background-color: black;

}
/* ====================================================================================================== */
/* ====================================================================================================== */
/* ====================================================================================================== */
/* ====================================================================================================== */
.headc{
   width: 100VW;
   height:60VH ;
   margin: 0vw;
   padding: 1vw;
   color: aliceblue;
   background-color: black;
   justify-content: center;

   transform: translate(0vw,6vh);
}
/* ====================================================================================================== */

.devp2 h2{
   color: rgb(253, 241, 241);
    /* transform: translate(2vw,-2vh); */
     font-family:initial;
       padding: 1vw;
       justify-content: center;
       width: 45vh;
       font-size:2.5vh;
        margin: 0.4vw ; 

}
.h21 {
       font-weight: bolder;
       font-style:oblique;
       display: flex;
       justify-content:center;
          
}
/* ====================================================================================================== */
/* color: rgb(111, 184, 247);
width:49vw;
height: 10vw;
transform: translate(5vw,5vh);
} */
.devp2 button{
   transform: translate(5vw,-1vh);
   border-radius: 2px 20px;
   width: 90vw;
   font-size: 3.5VW;
   font-family:initial;
   height: 9.5vh;
   box-shadow: 1PX  3PX rgb(255, 255, 255);
   color: rgb(111, 184, 247);
   background-color: black;
   border:none;
transition: 1s;   
}.devp2 button:hover {
   letter-spacing: 6px;
   transition: scale(1.1);
   color: rgb(0, 0, 0);
   background-color: rgb(255, 255, 255);
}

/* ====================================================================================================== */
/* ====================================================================================================== */
/* ====================================================================================================== */
.parent2{
   background-color: black;
   width: 100vw;
   height: 230vw;
   transform: translate(0vw,6vh);
   border: solid double white 3vw inset;
   box-shadow: 2px 2px 55px black;

   border: 3px solid ;
   border-color: linear-gradient(to right, aqua,green,blue,yellow);
   animation-name: my-animation;
   animation-iteration-count:  infinite;
   animation-duration: 5s;
   animation-direction: alternate;
   box-shadow: 2px 2px 55px black;

}  
     
@keyframes my-animation {
       10% {
         border-color: aqua;
       }
       40% {
         border-color:rgb(39, 50, 201);
       }
       70%{
         border-color: rgb(234, 234, 70)
       }
       100% {
         border-color: blue;
       }
       10% {
         border-color: aqua;
       }
       40% {
         border-color:rgb(39, 50, 201);
       }
       70%{
         border-color: rgb(234, 234, 70)
       }
       100% {
         border-color: blue;
       }
     }

/* <!-- ========================================================================================== --> */
.h1bc2{
   color: rgb(111, 184, 247);
   font-size: 5vw;
   width:29vw;
   height: 10vw;
   transform: translate(5vw,5vh);
box-shadow:  0.2pc 0.1pc 0.3pc;
border-radius: 2px 20px;
}
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */


.blocknum1c button {
   width: 18vw;
   height: 6vh;
   color: rgb(111, 184, 247);
   background-color: black;
   border:rgb(111, 184, 247) 2px solid;
   border-radius: 25%;
   transform: translate(40vw,12vh);
   transition: 1s;
}.blocknum1c button:hover {
   letter-spacing: 4px;
   transition: scale(1.1);
   color: rgb(0, 0, 0);
   background-color: rgb(255, 255, 255);
}
.blocknum1c svg{
   color: aliceblue;

   transform: translate(0vw,10vh);
   width: 100vw;
   height: 25vw;
}
.blocknum1c h2{
   color: aliceblue;
font-size: 3vw;
   transform: translate(35vw,12vh);
   width: 40vw;
   height: 5vw;
}
/* <!-- ========================================================================================== --> */

.blocknum2c button {
   width: 18vw;
   height: 6vh;
   color: rgb(111, 184, 247);
   background-color: black;
   border:rgb(111, 184, 247) 2px solid;
   border-radius: 25%;
   transform: translate(40vw,25vh);
   transition: 1s;
}.blocknum2c button:hover {
   letter-spacing: 4px;
   transition: scale(1.1);
   color: rgb(0, 0, 0);
   background-color: rgb(255, 255, 255);
}
.blocknum2c svg{
   color: aliceblue;

   transform: translate(0vw,20vh);
   width: 100vw;
   height: 25vw;
}
.blocknum2c h2{
   color: aliceblue;
font-size: 3vw;
   transform: translate(41vw,25vh);
   width: 40vw;
   height: 5vw;
}

/* <!-- ========================================================================================== --> */
.blocknum3c button {
   width: 18vw;
   height: 6;
   color: rgb(111, 184, 247);
   background-color: black;
   border:rgb(111, 184, 247) 2px solid;
   border-radius: 25%;
   transform: translate(40vw,35vh);
   transition: 1s;
}.blocknum3c button:hover {
   letter-spacing: 4px;
   transition: scale(1.1);
   color: rgb(0, 0, 0);
   background-color: rgb(255, 255, 255);
}
.blocknum3c svg{
   color: aliceblue;

   transform: translate(0vw,30vh);
   width: 100vw;
   height: 25vw;
}
.blocknum3c h2{
   color: aliceblue;
font-size: 3vw;
   transform: translate(43vw,35vh);
   width: 40vw;
   height: 5vw;
}
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
#btnsvg{
   transform: translate(27vw,-1vh);
   width: 20px;
   height: 20px;

}

/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* css to my img  _indx 3*/



.gelary{
   background-color: black;
}
.image1 img{
   width:9.8vw;
   height:9.8vw;
   transform: translate(25vw,0vh);

}
.image1 img:hover{
   border: 2px solid yellow;
   cursor: pointer;
}
.hoverr img{
   transform: translate(10vw,0vh);
   width:80vw;
   height:100vh; 
}
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* css to my language  _index4  */

.parentlanguage{
   margin: 0px;
   padding: 0px;
   font-family: serif ;
   background-color: rgb(23, 23, 23);
   color: rgb(111, 184, 247);
}
.clildlanguage{
   width: 75% ;
   margin: auto;
   padding: 5%;
}
/* <!-- ========================================================================================== --> */

.clildlanguage .btn{

transform: translate(-7vw,0vh);
border-radius: 2px 20px;
width: 70vw;
margin: 5vw;
font-size: 4.5vw;
font-size: 500%;
font-family:initial;
height: 9.5vh;
box-shadow:  0.2pc 0.1pc 0.3pc ;
color: rgb(111, 184, 247);
background-color: black;
border:none;
transition: 1s;   
}.clildlanguage .btn:hover {

letter-spacing: 8px;
transition: scale(1.1);
color: rgb(0, 0, 0);
background-color: rgb(255, 255, 255);
}
/* <!-- ========================================================================================== --> */

.block1{
   display: flex;
   padding: 2vh;
   margin: 10vw;
   justify-content: center;
   text-transform: uppercase;
   border: none;
   box-shadow: 2PX  10PX  rgb(111, 184, 247);
   width: 67vw;
   transform: translate(-12vw,1vh);
    transition: 1s;   

   /* height: 40vh; */
}.block1:hover{
   
   letter-spacing: 6px;
   transition: scale(1.1);
   color: rgb(0, 0, 0);
   background-color: rgb(187, 224, 250);
}
/* <!-- ========================================================================================== --> */

.block2{
   display: flex;
   padding: 2vh;
   margin: 10vw;
   justify-content: center;
   text-transform: uppercase;
   border: none;
   box-shadow: 2PX  10PX  rgb(111, 184, 247);
   width: 67vw;
   transform: translate(-12vw,1vh);
    transition: 2S;
   /* height: 40vh; */
}
.block2:hover{
   letter-spacing: 6px;
   transition: scale(1.1);
   color: rgb(0, 0, 0);
   background-color: rgb(187, 224, 250);
}
/* <!-- ========================================================================================== --> */

.block3{
   display: flex;
   padding: 2vh;
   margin: 10vw;
   justify-content: center;
   text-transform: uppercase;
   border: none;
   box-shadow: 2PX  10PX  rgb(111, 184, 247);
    width: 67vw;
    transform: translate(-12vw,1vh);
    transition: 2S;
   /* height: 40vh; */
}
.block3:hover{
   letter-spacing: 6px;
   transition: scale(1.1);
   color: rgb(0, 0, 0);
   background-color: rgb(187, 224, 250);
}
/* <!-- ========================================================================================== --> */

.block4{
   display: flex;
   padding: 2vh;
   margin: 10vw;
   justify-content: center;
   text-transform: uppercase;
   border: none;
   box-shadow: 2PX  10PX  rgb(111, 184, 247);
    width: 67vw;
    transform: translate(-12vw,1vh);
    transition: 2S;
   /* height: 40vh; */
}
.block4:hover{
   letter-spacing: 6px;
   transition: scale(1.1);
   color: rgb(0, 0, 0);
   background-color: rgb(187, 224, 250);
}




/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */

/* index-5 hard skills */


.parenthard{
   margin: 0px;
   padding: 0px;
   font-family: serif ;
   background-color: rgb(23, 23, 23);
   color: rgb(111, 184, 247);
}
.clildhard{
   width: 75% ;
   margin: auto;
   padding: 5%;
}
/* <!-- ========================================================================================== --> */

.clildhard .btn{

transform: translate(-7vw,0vh);
border-radius: 2px 20px;
width: 70vw;
margin: 5vw;
font-size: 4.5vw;
font-size: 500%;
font-family:initial;
height: 9.5vh;
box-shadow:  0.2pc 0.1pc 0.3pc ;
color: rgb(111, 184, 247);
background-color: black;
border:none;
transition: 1s;   
}.clildhard .btn:hover {

letter-spacing: 8px;
transition: scale(1.1);
color: rgb(0, 0, 0);
background-color: rgb(255, 255, 255);
}
/* <!-- ========================================================================================== --> */

.block1{
   display: flex;
   padding: 2vh;
   margin: 10vw;
   justify-content: center;
   text-transform: uppercase;
   border: none;
   box-shadow: 2PX  10PX  rgb(111, 184, 247);
   width: 95vw;
   transform: translate(-25vw,1vh);
    transition: 1s;   

   /* height: 40vh; */
}.block1:hover{
   
   letter-spacing: 6px;
   transition: scale(1.1);
   color: rgb(0, 0, 0);
   background-color: rgb(187, 224, 250);
}
/* <!-- ========================================================================================== --> */

.block2{
   display: flex;
   padding: 2vh;
   margin: 10vw;
   justify-content: center;
   text-transform: uppercase;
   border: none;
   box-shadow: 2PX  10PX  rgb(111, 184, 247);
   width: 95vw;
   transform: translate(-25vw,1vh);
    transition: 2S;
   /* height: 40vh; */
}
.block2:hover{
   letter-spacing: 6px;
   transition: scale(1.1);
   color: rgb(0, 0, 0);
   background-color: rgb(187, 224, 250);
}
/* <!-- ========================================================================================== --> */

.block3{
   display: flex;
   padding: 2vh;
   margin: 10vw;
   justify-content: center;
   text-transform: uppercase;
   border: none;
   box-shadow: 2PX  10PX  rgb(111, 184, 247);
    width: 95vw;
    transform: translate(-25vw,1vh);
    transition: 2S;
   /* height: 40vh; */
}
.block3:hover{
   letter-spacing: 6px;
   transition: scale(1.1);
   color: rgb(0, 0, 0);
   background-color: rgb(187, 224, 250);
}
/* <!-- ========================================================================================== --> */

.block4{
   display: flex;
   padding: 2vh;
   margin: 10vw;
   justify-content: center;
   text-transform: uppercase;
   border: none;
   box-shadow: 2PX  10PX  rgb(111, 184, 247);
    width: 95vw;
    transform: translate(-25vw,1vh);
    transition: 2S;
   /* height: 40vh; */
}
.block4:hover{
   letter-spacing: 6px;
   transition: scale(1.1);
   color: rgb(0, 0, 0);
   background-color: rgb(187, 224, 250);
}
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */
/* <!-- ========================================================================================== --> */