*{
    margin: 0px;
    padding: 0px;
}

/* ==================================================================== */
body{
    background-color: rgb(37, 37, 37);
    color: beige;
    font-family: serif;
    /* cursor: pointer; */
    font-size: xx-large;
    text-align: center;
}
/* ==================================================================== */
.crud{
    width: 80%;
    margin: auto;

}
/* ==================================================================== */
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 5px 0px;
}
/* ==================================================================== */
input{
    width: 100%;
    height: 5vh;
    color: aliceblue;
    background-color: rgb(16, 16, 16);
    border: none;
    outline: none;
    border-radius: 4px;
    margin: 5px;
    padding: 5px;
}
input:focus {
    background: black;
    transform: scale(1.10);
}

.prices input{
    color: rgb(255, 255, 255);
    width: 20%;
}
/* ==================================================================== */

#total{
    background-color: red;
    color: aliceblue;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
}
#total::before{
    content: "total: ";
}
/* ==================================================================== */

button{
    transform: translate(0.5vw,0vh);
    border: none;
    outline: none;
    color: azure;
    background: rgb(88, 18, 154);
    width: 100%;
    height: 7vh;
    border-radius: 20px;
    transition: 0.5s;
    font-size: 2.5vw;

}
button:hover{
    cursor: pointer;
    background-color: blueviolet;
     letter-spacing: 5px;

}
/* ==================================================================== */


.btnsearch {
display: flex;
justify-content: space-between ;
}
.btnsearch button{
width: 45%;
}
/* ==================================================================== */
table{
    font-size: 2.1vw;
    width: 75vw;
    margin: 1% ;
}

table th{
    text-transform: uppercase;
}
table td{
    padding: 4px;
}




