*{
    margin: 0;
    padding: 0;
}
body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:40% auto;
    padding: 0%;
}

/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */

body {
    background-color: #ffffff;
    color: #000;
}

/* أسلوب وضع الليل */
body.dark-mode {
    background-color: #323232;
    color: #fff;
}

.img {
    cursor:pointer;
    color: #333;
    background:none ;
    border: none;
    transform: translate(-5px,0px);
    width: 35px;
    height: 35px; 
    background-image: none;
}




/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* start nav bar  */

.imgnav {
    width: 60px;
    height: auto;
    color: rgb(179, 0, 0);
    
}.imgnav:hover {
color: rgb(255, 91, 91);
}

/* --------------------------------------------------------------------- */
#navp{
    position: sticky;
    background: none;
    /* background-color: rgb(0, 213, 216); */
    color: rgb(174, 41, 41);
    height: 70PX;
    border-bottom: 1.5px solid  rgb(174, 41, 41);


}
/* --------------------------------------------------------------------- */
#links{
    color: rgb(201, 70, 70);
    padding: 0.1vw;
    font-size: 20px;
    font-family: serif;
    margin-right: 15vw;
    /* left: 100px; */
    width: 5vw;

}#links:hover,#links:focus{
    color: rgb(120, 120, 120)
}
#dropdown{
    background-color: rgb(255, 255, 255);
}
/* --------------------------------------------------------------------- */

#iconnav {
    color:rgb(0, 0, 0);
    /* border: px white solid; */

}#iconnav:hover{
    /* border: white 2px double; */
    color: rgb(216, 0, 0);

}
/* --------------------------------------------------------------------- */
.search{
color: rgb(14, 14, 14);
padding: 6PX;
border-left: 1px rgb(152, 53, 53) solid;
/* transform: translate(-10vw,0vh); */
}
.search:hover{
    color:rgb(255, 255, 255);
}
/* --------------------------------------------------------------------- */
/* #login{
    border-radius: 5px;
    border: none;
    background-color: rgb(0, 213, 216);
    color: rgb(1, 0, 0);
    margin: 10px;
    width: 60px;

}#login:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(8, 10, 12);
} */



/* end nav bar  */


/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */



/* start up load */


.container{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 50%;
    margin: 100px;
    outline: none;
    border: none;
    color: rgb(41, 111, 111);
    background-size:100% ;
    padding: 7%;
    display: block;
    justify-content: center;
    text-align: center;
} 

.container h1 {
    color: rgb(201, 70, 70);
    margin: 0% auto;
    text-align:start;
    width: 70vw;
}
.container h2{
    color: rgb(201, 70, 70);
    margin: 0% auto;
    text-align:start;
    width: 70vw;
}
.container img{
    width: 200px;
    /* justify-content: ;/ */
    /* transform: translate(40vw,-10px); */
}
.container .im2{
    /* transform: translate(-33vw,10px); */
}

/* --------------------------------------------------------------------- */


.container input{
    color: rgb(201, 70, 70);
    background: none;
    border: solid rgb(201, 70, 70) 2px;
    border-radius: 5%;
}
.block{
    margin: 0% auto;
    transform: translate(0px center);
    text-align: center;
    justify-content: center;
    width: 200px;
      column-count: auto;
}
.block .one{
    margin-left: -50px;
   width: 300px;
}
.block .two{
    margin-left: -50px;
    width: 300px;
 }
 .block .two:hover ,.two:focus{
background-color: rgb(60, 60, 60);
color: aliceblue;
 }



/* end up load */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */




/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* file 2 */





















